.container {
  margin: 0 auto;
  padding: 0 15px;

  display: flex;
  justify-content: center;

  @media (max-width: 479px) {
    max-width: 480px;
  }
  @media (min-width: 480px) {
    width: 480px;
  }
  @media (min-width: 768px) {
    width: 768px;
  }
  @media (min-width: 1200px) {
    width: 1200px;
  }
}
.header {
  padding: 15px 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;

  background-color: #24608c;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  margin-bottom: 20px;
}
.form {
  position: relative;
  display: flex;
  @media (max-width: 779px) {
    width: 62%;
  }
  width: 42%;
}
.form__input {
  padding: 8px 20;

  width: 100%;
  outline: none;
  border: none;
}
.form__btn {
  height: 100%;
  position: absolute;
  outline: none;
  border: none;
  padding: 0 23px;
  right: 0;
  top: 0;
}
.form__btn--svg {
  width: 15px;
}

.main {
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.photo-card {
  @media (min-width: 768px) {
    flex-basis: calc((100% - 30px) / 2);
  }
  @media (min-width: 1200px) {
    flex-basis: calc((100% - 90px) / 4);
  }

  overflow: hidden;
  cursor: pointer;
  border-radius: 4px;
  padding-bottom: 10px;
  transition: all ease-in-out 300ms;

  &:hover {
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
      rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    transform: scale(1.01);
  }
}
.photo-car__img {
  margin: 0 auto;
  height: 80%;
  margin-bottom: 10px;
}
.info {
  display: flex;
  justify-content: space-around;
}
.info-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 12px;
}

.footer {
  text-align: center;
  padding: 35px 0;
}
.footer__btn {
  background-color: transparent;
  border: 1px solid #24608c;
  color: #24608c;
  margin: 0 auto;
  border-radius: 4px;
  padding: 10px 20px;
  transition: all ease-in-out 300ms;

  &:hover {
    box-shadow: rgba(36, 96, 140, 0.1) 0px 4px 6px -1px,
      rgba(36, 96, 140, 0.06) 0px 2px 4px -1px;
    background-color: #fff;
  }
}

.is-hidden {
  display: none;
}
